<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Existing URL</title>
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/newurl.css">
</head>
<body>
    <div class="header">
        <p>Domain IDK Yey LOL</p>
        <h1>Error Shortening URL</h1>
    </div>
    <div class="result-container">
        <p id="result"><%=error%></p>
        <form action="/reload" method="post">
            <button type="submit" id="reload">Retry</button>
        </form>
    </div>


</body>
</html>