<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <div class="header">
        <p>Domain IDK Yey LOL</p>
        <h1>URL Shortener</h1>
    </div>
    <div class="input-container">
        <form action="/newurl" method="post">
            <input type="text" name="url" id="url" placeholder="Enter URL">
            <br><br>
            <button type="submit" id="submit">Shorten</button>
        </form>
    </div>
</body>
</html>